<div class="mainsubjects" >
  <div class="row col-md-10 col-sm-10" style="margin-left: 20%; margin-top: 5%;">
    <div>
      <h4  *ngIf="tasks.length > 0">Todays Task</h4>
      <h4 *ngIf="tasks.length == 0">No Task For Today, Admin will assign Task soon</h4>
    </div>
    <div *ngFor="let task of tasks" class="col-md-4 col-sm-4" class="todo {{ (task.isDone ? 'done' : '') }}" style="margin-top: 5%" >
      <div class="card1 dash " >
          <div class="card-body">
          <div class="col-md-12">
              <h5 class="card-title content">{{task.taskName}}</h5> 
              <button [disabled]="task.isDone == true" (click)="completeTask(task.id)" class="ml-4 btn btn-success">Done</button>
          </div>
             <div class="col-md-4">
              <span class="opacity-7 text-muted "><i ></i></span>
             </div>
                                  
        </div>
      </div>
     </div>

<!--      <div class="col-md-4 col-sm-4"style="margin-top: 5%">
      <div class="card1 dash " >
        <a href="#">  <div class="card-body">
         <div class="row col-md-12">
          <div class="col-md-8">
              <h5 class="card-title">Subjects</h5>  
          </div>
             <div class="col-md-4">
              <span class="opacity-7 text-muted "><i data-feather="book"></i></span>
             </div>
             
         </div>                      
        </div></a>
      </div>
     </div>

     <div class="col-md-4 col-sm-4"style="margin-top: 5%">
      <div class="card1 dash " >
        <a href="#">  <div class="card-body">
         <div class="row col-md-12">
          <div class="col-md-8">
              <h5 class="card-title">Class Base Subjects</h5>  
          </div>
             <div class="col-md-4">
              <span class="opacity-7 text-muted "><i data-feather="book"></i></span>
             </div>
             
         </div>                      
        </div></a>
      </div>
     </div>

     <div class="col-md-4 col-sm-4"style="margin-top: 5%">
      <div class="card1 dash " >
        <a href="#">  <div class="card-body">
         <div class="row col-md-12">
          <div class="col-md-8">
              <h5 class="card-title">Chapters</h5>  
          </div>
             <div class="col-md-4">
              <span class="opacity-7 text-muted "><i data-feather="book"></i></span>
             </div>
             
         </div>                      
        </div></a>
      </div>
     </div>

     <div class="col-md-4 col-sm-4"style="margin-top: 5%">
      <div class="card1 dash " >
        <a href="#">  <div class="card-body">
         <div class="row col-md-12">
          <div class="col-md-8">
              <h5 class="card-title">Topics</h5>  
          </div>
             <div class="col-md-4">
              <span class="opacity-7 text-muted "><i data-feather="book"></i></span>
             </div>
             
         </div>                      
        </div></a>
      </div>
     </div>

     <div class="col-md-4 col-sm-4"style="margin-top: 5%">
      <div class="card1 dash " >
        <a href="#">  <div class="card-body">
         <div class="row col-md-12">
          <div class="col-md-8">
              <h5 class="card-title">Videos</h5>  
          </div>
             <div class="col-md-4">
              <span class="opacity-7 text-muted "><i data-feather="book"></i></span>
             </div>
             
         </div>                      
        </div></a>
      </div>
     </div> -->
   
  </div>

</div>
